@use "../../styles/utils";

.SideNav{
    position: fixed;
    top : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: ;
    width: 300px;
    height: 100vh;
    padding-top: 60px;
    background-color: utils.color(grey,light);
    z-index: 0;
    box-shadow: 1px 1px 8px 1px #888888;
}

.SideNav-Links{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

}
.SideNav-Links-container{
    width: 100%;
    margin-top: 10px;
    padding: 2px;
    display: flex;
    align-items: center;
    // border-bottom: 2px solid utils.color(grey,dark);
}
.SideNav-Links img{
    width: 50px;
}

.SideNav-Links a{
    text-decoration: none;
    color: black;
    margin: 10px;
}