@use "../../styles/utils";

.dashboard {
  padding: 30px;
  width: 100%;
  .dashboard__Actions {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    .dashboard__Actions__min {
      width: 30%;
      display: flex;
      justify-content: space-around;
    }
    .responsiveActions {
      display: none;
    }
  }
  .dashboard__AdoptionRequests {
    margin: 10px;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    .dashboard__AdoptionRequests__Details {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .dashboard__AdoptionRequests__Summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      padding: 20px;
      color: utils.color(purple, light);
    }
  }
}

@media only screen and (max-width: 600px) {
  .dashboard {
    padding: 0px;
    width: 100%;
    .dashboard__Actions {
      width: 100%;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;
      .dashboard__Actions__min {
        width: 90%;
        display: flex;
        button {
          text-align: center;
          padding: 10px 8px;
          margin: 0 10px;
          border-radius: 5px;
          background-color: utils.color(purple, light);
          color: white;
        }
      }
      .SignOut {
        button {
          text-align: center;
          padding: 10px 8px;
          margin: 0 10px;
          border-radius: 5px;
          background-color: utils.color(red, regular);
          color: white;
        }
      }
    }
    .dashboard__AdoptionRequests {
      margin: 10px;
      border-radius: 5px;
      padding: 0px;
      box-shadow: 0px 3px 7px 4px rgba(0, 0, 0, 0.22);
      display: flex;
      flex-direction: column;
      .dashboard__AdoptionRequests__Details {
        margin: 0;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .dashboard__AdoptionRequests__Summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        padding: 20px;
        color: utils.color(purple, light);
      }
    }
  }
}
