@use '../../../styles/utils';

.adoption {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 2rem;

    h1 {
        font-size: clamp(2rem, 6vw, 3rem);
    }
    p {
        max-width: 70ch;
        margin-bottom: 3rem;
    }

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        img {
            width: 50%;
        }

        .info {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & > div {
                text-align: left;
                padding: 1rem;
                border-radius: utils.$border-radius;
                border: 0.2rem solid utils.color(grey, base);

                & > button {
                    width: -webkit-fill-available;
                    text-align: center;
                }
            }
        }
        @media (max-width: 800px) {
            flex-direction: column-reverse;
            img {
                width: 100%;
            }
            .info {
                width: 100%;
            }
        }
    }
}
