@use "../../../styles/utils";

// .upVotes{
//     height: 20px;
// }

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.score i{
    margin: 0;
    padding: 0;
    color: utils.color(purple,light);
}

.red{
    color: red
}