@use '../../styles/utils';

.layout {
    width: 100%;
    min-height: 100vh;
    background-color: utils.color(grey, light);
}

.navbar {
    padding: 1rem;
    & > div {
        @include utils.center;
    }
}

.content {
    padding: 1rem;
    min-height: 100vh;
    border-radius: utils.$border-radius;
    background: utils.color(grey, lighter);
    & > div {
        @include utils.center;
    }
}

.footer {
    padding: 1rem;
    & > div {
        @include utils.center;
    }
}

.end {
    padding: 0.5rem;
    border-top-left-radius: utils.$border-radius;
    border-top-right-radius: utils.$border-radius;
    font-size: 0.8rem;
    background: utils.color(grey, dark);
    text-align: center;
    & > div {
        @include utils.center;
    }
}
