.InputContainer {
    columns: 2;
}

.InputContainer label {
    font-size: large;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

@media screen {
    .InputContainer {
        columns: 1;
    }
}
