.InputContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.InputContainer label{
    font-size: large;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
}
