@use "../../styles/utils";

.radio {
    display: inline-flex;
    padding: 1rem;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    width: -webkit-fill-available;
    overflow: hidden;
    margin-bottom: 0.375em;

    input {
        position: absolute;
        left: -9999px;
        &:checked + span {
            background-color: utils.color(grey, light);
            &:before {
                box-shadow: inset 0 0 0 0.45em utils.color(purple, base);
            }
        }
    }
    span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em;
        transition: 0.25s ease;
        font-weight: bold;
        &:hover {
            background-color: utils.color(grey, light);
        }
        &:before {
            display: flex;
            flex-shrink: 0;
            content: '';
            background-color: utils.color(grey, lighter);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.2em utils.color(grey, base);
        }
    }
}
